---
layout: page
title: Droids Robotics
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="block">


        <h1 class="animated fadeInUp"><b>Not The Droids <br> You Are Looking For</b></h1>
          <p class="animated fadeInUp"><b>A Force For Change Since 2011</b></p>
            <p class="animated fadeInUp">Rookie FIRST Robotics Competition Season 2020 Infinite Recharge</p>

        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

</section>








<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>We are FIRST Robotics Competition team ####</p>
          </div>
          <p>We are a rookie FIRST Robotics Competition team that is made mostly up of alumni from three FIRST LEGO League teams [Not The Droids You Are Looking For #51, Tiger Techs (Black) #577, and Tiger Techs (Orange) #578]. Our team logo represents the alliance and friendship between our teams as we strive to accomplish a common mission. We are based out of Sharon, Pennsylvania. </p>

        </div>
        <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/about" >Learn More</a>

      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Community Outreach</h2>
      <p>Our team focuses on supporting FIRST teams around the world and spreading STEM. See our full list of outreach events.</p>
  <!--<p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
      <a href="{{ site.baseurl }}/outreach" class="btn btn-view-works">Outreach</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Team</h2>
        <p>This is how we are organized.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-4 col-md-2">
        <div class="service-item">
          <i class="icon ion-code"></i>
          <h4>Programming</h4>
          <p>The programming team is responsible for the coding of the drivetrain, subsystems, and sensors. Our team will program in Java.</p>
        </div>
      </div>
      <div class="col-sm-4 col-md-2">
        <div class="service-item">
          <i class="ion-document"></i>
          <h4>Design</h4>
          <p>The design team is responsible for designing and creating the robot parts in CAD. Our team will use SOLIDWORKS.</p>
        </div>
      </div>
      <div class="col-sm-4 col-md-2">
        <div class="service-item">
          <i class="ion-hammer"></i>
          <h4>Mechanical</h4>
          <p>The mechanical team is responsible for creating and assembling the robot. Our team will use the AndyMark Kit of Parts Chassis.</p>
        </div>
      </div>
      <div class="col-sm-4 col-md-2">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Electronics</h4>
          <p>The electronics team is responsible for wiring all the components on the robot. This includes the sensors that the programming team plan to use.</p>
        </div>
      </div>
      <div class="col-sm-4 col-md-2">
        <div class="service-item">
          <i class="ion-at"></i>
          <h4>Identity/Branding</h4>
          <p>We will keep our old team name, but will have a new logo and new branding standards.</p>
        </div>
      </div>
      <div class="col-sm-4 col-md-2">
        <div class="service-item">
          <i class="ion-heart"></i>
          <h4>Outreach</h4>
          <p>We are an outreach-focused team. Every team member does outreach.</p>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Robotics Tutorials Network</h2>
          <p>Robotics Tutorials Network is a network of resources for the LEGO MINDSTORMS EV3 and FIRST LEGO League. Through this site, we reach over 400,000 people all around the world. It is our biggest outreach project. Click the link below to see our full list of resources for all the FIRST programs.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/resources" >Resources</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
      <!--  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

 Clients Logo Section Start
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo1.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo2.png" alt="Features">
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
